body{
  width: 100%;
  height: 100%;
  background: $body-bg;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $body-text;
  overflow: hidden;
}

button:focus, textarea:focus, input:focus{
    outline: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lexend Deca', sans-serif;
  color: $heading;
}

.logo{
  color: $primary;
}

.playlist-button-wrapper{
  position: absolute;
  right: 20px;
  top: 20px;
}

.playlist-button{
  border-radius: 50%;
  padding: 15px;
  color: $primary;
  border: 2px solid $primary;
  background: $body-bg;

  display: flex;
  justify-content: center;
  align-items: center;

  i{
    font-size: 24px;
  }

  &.show{
    visibility: visible;
  }

  &.hide{
    visibility: hidden;
  }
}
