.song-lyrics{
	position: absolute;
  color: white;
  background: black;
	bottom: 0;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
	left: 0;
  width: 100%;
  height: 150px;
  overflow: scroll;
  font-size: 24px;
  line-height: 1.6;

  &::-webkit-scrollbar {
  width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: black;

  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
  }

  &.hide{
    visibility: hidden;
  }

  &.show{
    visibility: visible;
  }

  .minimise-lyrics{
    position: relative;
    float: right;
    top: -10px;
    right: -20px;
  }
}

.lyrics-panel-button-wrapper{
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .lyrics-panel-button{
    color: $body-bg;
    background: $body-text;
    padding: 10px 30px;
    border-radius: 50px;

      &.hide{
        visibility: hidden;
      }

      &.show{
        visibility: visible;
      }
  }


}
